@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Oxygen:wght@300;400&display=swap');

.top-block {
    background: #000000 url(../images/top_block_background.png);
    width: 1440px;
    height: 500px;
}

.top-block__logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.top-block__item {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.top-block__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.top-block__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
    border-radius: 3px;
    border: none;
}

.top-block__button {
    font: 400 13px/1.54 'Oxygen';
    text-align: center;
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
    height: 44px;
    width: 167px;
    border: 0;
}

.submenu {
    background: #FFFFFF;
}

.submenu__link {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
    text-decoration: none;
}

.main {
    background: #F7F7F7;
    border-radius: 0px;
}

.main__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.recommended {
    background: url(../images/northern_lights_item.png) no-repeat;
    height: 280px;
    border-radius: 3px;
}

.recommended_second {
    background: url(../images/top2down_item.png) no-repeat;
}

.recommended__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.recommended__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}


.caption__name {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.caption__date {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.recommended__tag {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.recent {
    background: #FFFFFF;
    height: 291px;
    width: 296px;
}

.recent__image {
    height: 150px;
    left: 0.01%;
    right: -0.02%;
    top: 0px;
    background: url(.jpg), #D6D6D6;
    border-radius: 0px;
}

.recent__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.recent__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.caption_recent
{
    height: 48px;
    background: #FCFCFC;
}


.top-block__menu_footer {
    background: url(../images/footer_item.png);
    height: 89px;
    border-radius: 0px;
}