@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Oxygen:wght@300;400&display=swap');

.top-block {
    background: #FFFFFF;
}

.top-block__logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #2E2E2E;
}

.top-block__item {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #2E2E2E;
    text-decoration: none;
}

.blog__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.blog__description {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #2E2E2E;
    border-radius: 3px;
    border: none;
}

.blog__text {
    font-family: Oxygen;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}