.panel {
    background: #000000 url("../img/top_block_background.png");
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
    align-items: center;
}

.menu__logo {
    font: 400 26px "Lora";
    color: #FFFFFF;
}

.navigation__item {
    font: 400 11px/1.82 "Oxygen";
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
}

.content-title {
    font: 400 50px/1.02 "Lora";
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 120px 0 0 0;
}

.content-text {
    font: 400 17px/1.18 "Oxygen";
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
    border-radius: 3px;
    margin: 20px 0 0 0;
}

.content-button {
    font: 400 13px/1.5 "Oxygen";
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
    padding: 12px 31px;
    border: none;
    margin: 31px 0 0 0;
    text-align: center;
}

.submenu {
    background: #FFFFFF;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.submenu__link {
    font: 400 14px/1.43 "Lora";
    text-align: center;
    color: #768088;
    text-decoration: none;
    width: 139px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 89px;;
}

.title-group {
    font: 400 20px/1.35 "Oxygen";
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin: 22px;
}

.featured {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 67px;
}

.title-group::after {
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    content: "";
    display: block;
    margin: 16px 0 0;
}

.recommended {
    height: 280px;
    width: 460px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 20px 20px;
    position: relative;
}

.recommended_first {
    background: url(../img/northern_lights_item.png);
    background-size: cover;
}

.recommended_second {
    background: url(../img/top2down_item.png);
    background-size: cover;
}

.recommended__title {
    font: 400 27px/1.11 "Lora";
    color: #FFFFFF;
    margin-bottom: 0;
}

.caption {
    height: 35px;
    display: flex;
    align-items: center;
}

.recommended__text {
    font: 400 14px/1.79 "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-top: 6px;
}

.caption__name {
    font: 400 12px/2.92 "Oxygen";
    color: #999999;
    flex-grow: 1;
    margin-left: 10px; 
}

.caption__date {
    font: 400 12px/2.92 "Oxygen";
    color: #999999;
}

.recommended__tag {
    font: 400 12px/1.08 "Oxygen";
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #DD783F;
    padding: 6px 9px 7px;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}

.lately {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 940px;
    gap: 24px;
}

.recent {
    background: #FFFFFF;
    height: 291px;
    width: 296px;
    display: flex;
    flex-direction: column;
}

.recent__image {
    height: 150px;
    background: #D6D6D6;
    border-radius: none;
}

.recent__title {
    font: 400 16px/1.31 "Lora";
    color: #101315;
    margin: 14px 0 6px;
    padding: 0 13px;
}

.recent__text {
    font: 400 13px/1.46 "Oxygen";
    color: #7A7A7A;
    flex-grow: 1;
    margin: 0;
    padding: 0 13px;
}

.caption_background_white
{
    height: 48px;
    background: #FCFCFC;
    border-top: 1px solid #EFEFEF;
    padding: 0 13px;
}

.caption__name_color_white
{
    color: rgba(255, 255, 255, 0.7);
}

.caption__date_color_white
{
    color: rgba(255, 255, 255, 0.7);
}

.footer
{
    background: #4D565D url(../img/big_footer.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu_with-background {
    height: 89px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: inset 0 0 0 100vw rgba(35, 47, 56, 0.6);
}

.footer__menu
{
    padding: 28px 250px 27px;
    box-sizing: border-box;
    width: 100%;
    align-items:  center;
}

.contact-form
{
    display: flex;
    align-self: center;
    margin: 0 0 90px 0;
}

.contact-form__email
{
    font: 400 12px/1.17 'Roboto';
    color: #817F83;
    width: 375px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 0 0 0 35px;
}

.contact-form__button
{
    font: 400 12px/1.2 'Roboto';
    color: #f8f8f8;
    width: 125px;
    height: 50px;
    background: rgba(255, 255, 255, .28);
    border: none;
    border-radius: 0 3px 3px 0;
}

.title-group_font-white
{
    font: 400 18px/1.17 'Roboto';
    color: #FFFFFF;
    margin: 82px 0 20px;
}

body {
    margin: 0;
}